<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <title>Stylist</title>
    </head>
    <body>
        <div class="container">
            <h1>{{ stylist.getName }}'s Client List</h1>
            <form action='/clients' method='post' class='form-inline'>
                <input id='stylist_id' name='stylist_id' type='hidden' value='{{ stylist.getId }}'>
                <div class='form-group'>
                    <input id='name' name='name' type='text' class='form-control' placeholder="Enter Client's Name">
                    <button type='submit' class='btn btn-success'>Add Client</button>
                </div>

            </form>

            {% if clients is not empty %}
                    <ul>
                        {% for client in clients %}
                            <div>
                                <li>{{ client.getName }} | <a href='/clients/{{ client.getId }}/edit'>Edit or delete this client</a></li>
                            </div>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h3>{{ stylist.getName }} has no clients</h3>
                {% endif %}

            <p><a href='/stylists/{{ stylist.getId }}/edit'>Edit or delete</a> {{stylist.getName }}.</p>
            <a href='/'>home</a>
        </div>
    </body>
</html>
